form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: center;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  height: 300px;
  /* what is this? */
  -moz-box-sizing: border-box ;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea{
  vertical-align: top;
  height: 5em;
  /* doesnt work on all browsers */
  resize: vertical;
}

.btn{
  padding-left: 10px; 
  padding-right: 10px;
}

button{
  margin-left: .5em;
}

.msgBoxDiv {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.msgBoxTitle{
 background-color: #00478A;
 color: white;
 font-size: 20px;
 font-weight: bold;
 left: 0px;
 padding: 4px;
 text-align: left;
 top: 0px;
}

.msgBoxContents{
  background: rgba(255, 255, 255, 1);
  background-color: white;
  border: 1px solid black;
  box-shadow: 6px 6px 6px #070707;
  left: 30%;
  position: absolute;
  resize: vertical;
  text-align: center;
  top: 15%;
  width: 40%;
}

.msgBoxText{
  font-size: 18px;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.msgBoxButton{
  margin: 20px;
}

.msgBoxWarningTitle{
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: bold;
  left: 0px;
  padding: 4px;
  text-align: left;
  top: 0px;
}

.msgBoxErrorTitle{
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  left: 0px;
  padding: 4px;
  text-align: left;
  top: 0px;
}

.msgBoxSuccessTitle{
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  left: 0px;
  padding: 4px;
  text-align: left;
  top: 0px;
}
























